* { margin: 0; padding: 0; } /*reset dos elementos  da pagina*/

.slider { /*classe slider*/
	display: block;
	height: 293px; /*altura do slide*/
	width: 600px /*largura do slide*/
	margin: auto;
	margin-top: 95px; /*margin em relação ao topo*/
	position: relative;
	left: 90px;
}

.slider li { /*elemento li da classe slider*/
	list-style: none; /*evita o estilo padrão*/
	position: absolute; /*posicionamento do slide em relação a pagina*/
}

.slider img { /*elemento imagem da classe slider*/
	margin: auto; /*centralizar a imagem*/
	height: 100%; /*altura, 100% indica para  a imagem ocupar todo o espaço disponibilizado no slide*/
	width: 100%; /*largura, 100% indica para  a imagem ocupar todo o espaço disponibilizado no slide*/
	vertical-align: top; /*imagem ficara alinhada verticalmento em relaçao ao topo*/
}

.slider input {
	display: none;
}

.slider label {
	background-color: #000;
	bottom: 10px;
	cursor: pointer;
	display: block;
	height: 10px;
	position: absolute;
	width: 10px;
	z-index: 10;
}

.slider li:nth-child(1) label {
	left: 10px;
}

.slider li:nth-child(2) label {
	left: 40px;
}

.slider li:nth-child(3) label {
	left: 70px;
}

.slider li:nth-child(4) label {
	left: 100px;
}

.slider li:nth-child(5) label {
	left: 130px;
}

.slider img {
	opacity: 0;
	visibility: hidden;
}

.slider li input:checked ~ img {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}